<!DOCTYPE html>
<!-- This file gets applied to all webpages for consistency -->

<!-- Reference to CSS style sheet -->
<head>
    <meta chharset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Some E-Commerce Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Some E-Commerce Store</h1>
        <!-- Will add more links as we add more pages -->
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <div class="dropdown">
                <span>Women</span>
                <div class="dropdown-content">
                    <a href="{{ url_for('women_clothing') }}">Clothing</a>
                </div>
            </div>
            <div class="dropdown">
                <span>Men</span>
                <div class="dropdown-content">
                    <a href="{{ url_for('men_clothing') }}">Clothing</a>
                </div>
            </div>
            <a href="{{ url_for('shopping_cart') }}" class="cart-link">
                <img src="{{ url_for('static', filename='images/cart.png') }}" alt="Shopping Cart" class="cart-icon">
            </a>
            
<!-- Add way tp log into an admin session -->
        </nav>
    </header>
    <main>
        <!-- Our other html files fills this when this html base is referenced -->
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>CPSC362 Group 11</p>
    </footer>
</body>
</html>

